{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume Generator</title>
</head>

<body>
    Welcome to Resume Generator! We will help you generate a professional resume, so that you get that dream job!
    {% if user.is_authenticated %}
    Welcome, {{user.first_name}}
    <a href="accounts/logout">Logout</a>
    <a href="resume/userdetails">Fill Data</a>
    <a href="resume/previewdata">View Data</a>
    {% else %}
    <a href="accounts/login">Login</a>
    <a href="accounts/signup">Register</a>
    {% endif %}
</body>

</html>