{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preview Data</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/previewdata.css' %}">
</head>
<body>


<div class="container">
<div class="personal col1 box">
    <h1>{{obj.first_name}} {{obj.last_name}} </h1>
    <h2> <u> {{obj.current_position}} </u> </h2><br>
    <span><i class="fa fa-envelope"></i> : {{obj.email}} </span> <br>
    <span> <i class="fa fa-github"></i> : <a href="{{obj.github}}">{{obj.github}}</a> </span> <br>
    <span> <i class="fa fa-linkedin"></i> : <a href="{{obj.linkedin}}">{{obj.linkedin}}</a> </span> <br>
    <span> <i class="fa fa-twitter"></i> : <a href="{{obj.twitter}}">{{obj.twitter}}</a> </span> <br>
    <span> <i class="fa fa-mobile"></i> : {{obj.contact}} </span> <br>

<br>
{{obj.intro}}<br>
</div>
<div class="skills col2 box">
    <u><h1>Skills</h1></u><br>
{{obj.skill_1}}<br>
{{obj.skill_2}}<br>
{{obj.skill_3}}<br>
{{obj.skill_4}}<br>
{{obj.skill_5}}<br>
{{obj.skill_6}}<br>
{{obj.skill_7}}<br>
</div>


{% if obj.education_current_title != "NA" or obj.education_previous_title != "NA"  %}
    <div class="education col1 box">
        <u><h1>Education</h1></u><br>
        {% if obj.education_current_title != "NA" %}
            <h2>{{obj.education_current_title}}</h2>
            {{obj.education_current_marks}}<br>
            {{obj.education_current_description}}<br>
        {% endif %}
        <br>
        {% if obj.education_previous_title != "NA" %}
            <h2>{{obj.education_previous_title}}</h2>
            {{obj.education_previous_marks}}<br>
            {{obj.education_previous_description}}<br>
        {% endif %}
    </div>
{% endif %}

{% if obj.certification_1 != "NA" or obj.certification_2 != "NA" or obj.certification_3 != "NA" or obj.certification_4 != "NA" %}

    <div class="certifications col2 box">
        <u><h1>Certifications</h1></u><br>
        {% if obj.certification_1 != "NA" %}
            {{obj.certification_1}}<br>
        {% endif %}
        {% if obj.certification_2 != "NA" %}
            {{obj.certification_2}}<br>
        {% endif %}
        {% if obj.certification_3 != "NA" %}
            {{obj.certification_3}}<br>
        {% endif %}
        {% if obj.certification_4 != "NA" %}
            {{obj.certification_4}}<br>
        {% endif %}
    </div>
{% endif %}




{% if obj.project_1_name != "NA" or obj.project_2_name != "NA" or obj.project_3_name != "NA" %}
<div class="projects col1 projbr box">
    <u><h1>Projects</h1></u><br>
    {% if obj.project_1_name != "NA" %}
        <b>{{obj.project_1_name}}</b><br>
        {{obj.project_1_description}}<br>
        <span><i class="fa fa-github"></i> : <a href="{{obj.project_1_github}}">{{obj.project_1_github}}</a> </span>
        <br><br>
    {% endif %}
    {% if obj.project_2_name != "NA" %}
        <b>{{obj.project_2_name}}</b><br>
        {{obj.project_2_description}}<br>
        <span><i class="fa fa-github"></i> : <a href="{{obj.project_2_github}}">{{obj.project_2_github}}</a> </span>
        <br><br>
    {% endif %}
    {% if obj.project_3_name != "NA" %}
        <b>{{obj.project_3_name}}</b><br>
        {{obj.project_3_description}}<br>
        <span><i class="fa fa-github"></i> : <a href="{{obj.project_3_github}}">{{obj.project_3_github}}</a> </span>
        <br><br>
    {% endif %}
    {% if obj.project_4_name != "NA" %}
        <b>{{obj.project_4_name}}</b><br>
        {{obj.project_4_description}}<br>
        <span><i class="fa fa-github"></i> : <a href="{{obj.project_4_github}}">{{obj.project_4_github}}</a> </span>
        <br><br>
    {% endif %}
</div>
{% endif %}


{% if obj.internship_1_title != "NA" or obj.internship_2_title != "NA" or obj.internship_3_title != "NA"  %}
<div class="internships col2 box">
    <u><h1>Internships</h1></u><br>
        {% if obj.internship_1_title != "NA" %}
            <h2>{{obj.internship_1_title}}</h2>
            {{obj.internship_1_description}}<br>
            <br>
        {% endif %}
        {% if obj.internship_2_title != "NA" %}
            <h2>{{obj.internship_2_title}}</h2>
            {{obj.internship_2_description}}<br>
            <br>
        {% endif %}
        {% if obj.internship_3_title != "NA" %}
            <h2>{{obj.internship_3_title}}</h2>
            {{obj.internship_3_description}}<br>
            <br>
        {% endif %}
</div>
{% endif %}


{% if community != "NA" %}
    <div class="languages col1 box">
        <u><h1>Community Work:</h1></u><br>
        {% if obj.community != "NA" %}
        {{obj.community}}<br>
        {% endif %}
    </div>
{% endif %}






{% if obj.hobbies != NA %}
    <div class="hobbies col2 box">
        <u><h1>Hobbies</h1></u><br>
        {{obj.hobbies}}<br>
    </div>
{% endif %}
</div>
</body>
</html>

