{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preview Data</title>
</head>
<body>

<hr>
<hr>
{{obj.first_name}}<br>
{{obj.last_name}}<br>
{{obj.email}}<br>
{{obj.current_position}}<br>
{{obj.linkedin}}<br>
{{obj.github}}<br>
{{obj.twitter}}<br>
{{obj.contact}}<br>
{{obj.intro}}<br>
<hr>
<hr>
{{obj.skill_1}}<br>
{{obj.skill_2}}<br>
{{obj.skill_3}}<br>
{{obj.skill_4}}<br>
{{obj.skill_5}}<br>
{{obj.skill_6}}<br>
{{obj.skill_7}}
<hr>
<hr>
{{obj.project_1_name}}<br>
{{obj.project_1_description}}<br>
{{obj.project_1_github}}<br>
<hr>
{{obj.project_2_name}}<br>
{{obj.project_2_description}}<br>
{{obj.project_2_github}}<br>
<hr>
{{obj.project_3_name}}<br>
{{obj.project_3_description}}<br>
{{obj.project_3_github}}<br>
<hr>
{{obj.project_4_name}}<br>
{{obj.project_4_description}}<br>
{{obj.project_4_github}}<br>
<hr>
<hr>
{{obj.internship_1_title}}<br>
{{obj.internship_1_description}}<br>
<hr>
{{obj.internship_2_title}}<br>
{{obj.internship_2_description}}<br>
<hr>
{{obj.internship_3_title}}<br>
{{obj.internship_3_description}}<br>
<hr>
<hr>
{{obj.education_1_title}}<br>
{{obj.education_1_description}}<br>
<hr>
{{obj.education_2_title}}<br>
{{obj.education_2_description}}<br>
<hr>
<hr>
{{obj.language_1}}<br>
{{obj.language_2}}<br>
{{obj.language_3}}<br>
{{obj.language_4}}<br>
{{obj.language_5}}<br>
<hr>
<hr>
{{obj.certification_1}}<br>
{{obj.certification_2}}<br>
{{obj.certification_3}}<br>
{{obj.certification_4}}<br>
</body>
</html>