{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/password_reset.css' %}">
    <title>Title</title>

</head>
<body>
{% include 'resume/navbar.html' %}
    <div class="help">
        {% for field in form %}
        {{ field.help_text | safe }} <br>
        {% endfor %}
    </div>
    <div class="password_change_form">
    <form method="post">
        {{form.non_field_errors}}
        {% csrf_token %}
        {% for field in form %}
        <div class="label">
            {{field.label_tag}}
        </div>
        <br>
        <div class="field">
            {{ field }}
        </div>
        <br>

        {% if field.errors %}
        {{ field.errors }}
        {% endif %}
        {% endfor %}
  <button type="submit">Save changes</button>
        </div>
</form>
</body>
</html>