{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/password_reset.css' %}">

    <title>Password Reset</title>

</head>

<body>
    {% include 'resume/navbar.html' %}
    <div class="container">
        <div class="help" tabindex="0">

            {% for field in form %}
            {{ field.help_text | safe }} <br>
            {% endfor %}

        </div>
        <div class="password_change_form">
            <form method="post">
                {{form.non_field_errors}}
                {% csrf_token %}
                {% for field in form %}
                <div class="label">
                    {{field.label_tag}}
                </div>
                <br>
                <div class="field">
                    {{ field }}
                </div>
                <br>
                {% if field.errors %}
                {{ field.errors }}
                {% endif %}
                {% endfor %}
                <button type="submit">Save changes</button>
            </form>
        </div>
    </div>
</body>

</html>