*
{
    /* outline: solid red 2px; */
    margin: 0;
    padding: 0;
}

body
{
	background-color:  #3282b8;
	font-family: "Montserrat", sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 10fr;
    min-height: 100vh;
}

.help
{
    grid-column: 1/2;
	grid-row: 2/3;
	padding: 20px;
	display: grid;
	width: 70%;
	background-color:  #1b262c;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);
}

.help > ul > li
{
    padding: 10px;
}


.password_change_form
{
	grid-column: 2/3;
	grid-row: 2/3;
	padding: 20px;
	display: grid;
	width: 70%;
	background-color:  #1b262c;
	color: white;
	border-radius: 10px;
	font-size: 25px;
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);
}

input[type="text"]
{
	width: 60%;
	height: 30px;
	box-sizing: border-box;
	border-radius: 50px;
	outline: none;
	border: none;
	transition: 0.5s;
	background-color: #bbe1fa;
	text-align: center;
}

input[type="text"]:focus
{
	transform: scale(1.2);
	border: solid #3282b8 2px;
}

input[type="password"]
{
	width: 60%;
	height: 30px;
	box-sizing: border-box;
	border-radius: 50px;
	outline: none;
	border: none;
	transition: 0.5s;
	background-color: #bbe1fa;
	text-align: center;
}

input[type="password"]:focus
{
	transform: scale(1.2);
	border: solid #3282b8 2px;
}

input[type="submit"]
{
	width: 50%;
	height: 40px;
	box-sizing: border-box;
	border-radius: 50px;
	outline: none;
	border: none;
	transition: 0.5s;
	background-color: #3282b8;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
}


input[type=submit]:hover
{
	background: #bbe1fa;
	color: black;
}

.head
{
	grid-column: 1/3;
}